<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('layout/header') %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mt-4">
                <div class="card shadow">
                    <div class="card-header bg-primary">
                        <h5 class="text-light">Add New Book</h5>
                    </div>
                    <div class="card-body p-4">
                        <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="name">Tên sách</label>
                                <input type="text" name="name" class="form-control form-control-lg" placeholder="Nhập tên sách" required/>
                            </div>
                            <div class="mb-3">
                                <label for="author">Tác giả</label>
                                <input type="text" name="author" class="form-control form-control-lg" placeholder="Nhập tên tác giả" required/>
                            </div>
                            <div class="mb-3">
                                <label for="price">Giá tiền</label>
                                <input type="number" name="price" class="form-control form-control-lg" placeholder="Nhập giá tiền" required/>
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label">Chọn hình ảnh</label>
                                <input type="file" name="image" class="form-control form-control-lg" required/>
                            </div>
                            <div class="mb-3">
                                <input type="submit" name="submit" value="Thêm sách" class="btn btn-primary btn-lg" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('layout/footer') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>


