
<footer class="footer mt-5 bg-dark pt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5 style="color:aqua;">Đối tác</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Đối tác Phiến</a></li>
                    <li><a href="#">Đối tác Tùng</a></li>
                    <li><a href="#">Đối tác Tùng - Phiến</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color:aqua;">Nhà tài trợ</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Nhà tài trợ Phiến</a></li>
                    <li><a href="#">Nhà tài trợ Tùng</a></li>
                    <li><a href="#">Nhà tài trợ Tùng - Phiến</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color:aqua;">Đội ngũ phát triển</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Thành viên 1</a></li>
                    <li><a href="#">Thành viên 2</a></li>
                    <li><a href="#">Thành viên 3</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 style="color:aqua;">Liên hệ</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Email: tungphien@gamil.com</a></li>
                    <li><a href="#">Điện thoại: 0123456679</a></li>
                    <li><a href="#">Địa chỉ: 123 Đường ABC, Thành phố xyz</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="copyright">© 2024 Bản quyền thuộc về TUNGPHIEN COMPANY</p>
            </div>
        </div>
    </div>
</footer>
